
.homeflix {
    padding: 30px;
    background-color: black;
    margin: 0 0 0 0;
}
.imghome{
    border:solid 10px black;
    border-radius: 1%;
}
button{
    border-radius: 1%;
}
.signup{
    text-align: center;
    padding: 10px;
    color: red;
    background-color: black;
    border-radius: 30px;
    margin: 15px 25% 15px 25%;
}
.perfil{
    height: 10%;
    width: 10%;
    border:solid 5px black;
    border-radius: 50%;
    
}
body{
    font-family: sans-serif;
}
.center{
    text-align: center;
}
.signupc{
    text-align: center;
}