
.homeflix {
    background-color:     rgb(2, 20, 20);
}
.imghome{
    border:solid 10px black;
    border-radius: 1%;
}
button{
    border-radius: 1%;
}
.square{
    border:solid black;
}
.perfil{
    height: 10%;
    width: 10%;
    border:solid 5px black;
    border-radius: 50%;
    
}
body{
    font-family: sans-serif;
}